@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONTES, organizada por Poppins e depois Inter */
h1 {
  font-family: "Poppins";
  font-size: 10vh;
  line-height: 1.2;
}

h2 {
  font-family: "Poppins";
  font-size: 2.5rem;
}

p {
  font-family: "Poppins";
  font-size: 16px;
}

h3 {
  font-family: "Poppins";
  color: #16A34A;
  font-size: 40px;
}

h4 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  color: #4B5563;
  line-height: 1.4;
}

h5 {
  font-family: "Inter";
  font-size: 14px;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  margin: 0rem 4rem;
  border-bottom: 2px solid #B4AEAE;
}
header .logo {
  max-height: 10rem;
  display: block;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding: 2vh 6vh;
}
.nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0.5rem 1rem;
  font-family: "Poppins";
  color: #4B5563;
}
.nav li {
  padding: 0vh 2vh;
}
.nav a {
  text-decoration: none;
  color: #4B5563;
}

/* BOTÃO DENTRO DA HEADER */
.btnheader {
  background-color: #16A34A;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  width: 11rem;
  height: 3rem;
  font-family: "Poppins";
  font-size: 16px;
}

/* INTRO SITE */
.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 7rem;
  gap: 2rem;
}

.recicla {
  width: 32rem;
  max-width: 100%;
}

/* BOTÕES DENTRO DA INTRO */
.btnDoar {
  background-color: #16A34A;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  width: 12rem;
  font-family: "Poppins";
  font-size: 16px;
  margin: 2rem 0rem;
  padding: 1rem;
}

.imgdoar {
  margin: -0.1rem 0.4rem;
  width: 1rem;
}

.imgadq {
  margin: -0.1rem 0.4rem;
  width: 1rem;
}

.btnAdq {
  color: #2563EB;
  border: solid 2px #2563EB;
  border-radius: 8px;
  width: 12rem;
  font-family: "Poppins";
  font-size: 16px;
  padding: 1rem;
  margin: 2rem;
}

/* DADOS DOS USUÁRIOS */
.dados {
  display: flex;
  margin: 5rem 0rem;
  background-color: #F3F5F8;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.dados .dadosdiv {
  margin: 2rem;
}

/* COMO FUNCIONA */
.comofunciona {
  margin: 5rem 7rem;
}

.boxdoareseadq {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1.5rem;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.doadores, .adquirentes {
  background-color: #F3F5F8;
  padding: 1rem 2rem;
  width: 31.5rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.comofuncionadoa {
  font-family: inter;
  font-weight: 400;
  color: #16A34A;
  font-size: 1.7rem;
  padding: 1.5rem 0;
}
.comofuncionadoa img {
  margin: -0.7rem 0rem;
  padding-right: 1rem;
}

.comofuncionaadq {
  font-family: inter;
  font-weight: 400;
  color: #2563EB;
  font-size: 1.7rem;
  padding: 1.5rem 0;
}
.comofuncionaadq img {
  margin: -0.7rem 0rem;
  padding-right: 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0.5rem;
}

li {
  display: flex;
  text-decoration: none;
  padding: 0rem;
  align-items: center;
}
li .topico {
  padding: 0.5rem 1.5rem;
}

.negrito {
  font-weight: 600;
  margin-top: 1rem 0rem;
}

/* PRODUTOS DISPONÍVEIS */
.produtosdisponiveis {
  background-color: #F3F5F8;
}

.disponiveis {
  margin: 2rem 7rem;
  display: flex;
  justify-content: space-evenly;
  padding: 0rem 2rem 2rem 4rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.titulosprodutos {
  padding: 3rem 0rem 0rem 7rem;
}

.dispobox {
  border: solid 3px #16A34A;
  width: 18rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.dispobox .imgdispobox {
  padding: 0rem;
  align-items: stretch;
  align-content: center;
  width: 100%;
  height: auto;
}

.prod {
  font-size: 0.9rem;
  color: #4B5563;
}

.txtdispobox {
  padding: 1rem;
  text-align: center;
}

.btndispobox {
  background-color: #16A34A;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  width: 12rem;
  font-family: "Poppins";
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
}

h6 {
  font-family: "Inter";
  font-size: 1.5rem;
}

/* RELATOS DOS CONSUMIDORES */
.relatos {
  margin: 5rem 7rem;
}

.relatosboxpai {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 2rem;
}

.relatobox {
  width: 100%;
  max-width: 19rem;
  height: 17.5rem;
  border: 1px solid #9CA3AF;
  box-shadow: -3px 0px #9CA3AF;
  border-radius: 0.5rem;
  padding: 1.4rem;
  margin: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.relatobox .estrelas {
  width: 9rem;
  padding-bottom: 0.5rem;
}

.nomepai {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: auto;
}

.nomerelato {
  font-weight: 500;
}

.tiporelato {
  color: #6B7280;
}

.relato {
  color: #4B5563;
}

/* PRONTO PARA FAZER A DIFERENÇA */
.diferenca {
  padding: 7rem 0rem;
  text-align: center;
  background-color: #F3F5F8;
}

.comunidade {
  font-size: 1.5rem;
  margin: 0rem 7rem;
}

.comecar {
  background-color: #16A34A;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  width: 12rem;
  font-family: "Poppins";
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
}

.saber {
  color: #16A34A;
  background-color: #F3F5F8;
  border: 0.08rem solid #16A34A;
  border-radius: 8px;
  width: 12rem;
  font-family: "Poppins";
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
}

/*  FOOTER */
footer {
  background-color: #1F2937;
  padding: 2rem 0rem;
}

.conteudofooter {
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  flex-wrap: wrap;
  gap: 2rem;
  border-bottom: 1px solid #4B5563;
}

.boxfooter {
  padding: 0rem 0rem 2rem 0rem;
}

.links {
  display: flex;
  flex-direction: column;
  width: 12rem;
}

.boxpfooter {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.titulofooter {
  color: white;
  font-weight: 500;
}

.afooter {
  color: #9CA3AF;
  font-family: "Poppins";
  text-decoration: none;
  padding: 0.2rem 0rem;
}

.txtfooter {
  color: #9CA3AF;
}

.imgfooter {
  width: 2.5rem;
  padding: 1rem 0.5rem 0rem 0rem;
}

.logofooter {
  width: 16rem;
  padding-bottom: 0.5rem;
}

.rodape {
  text-align: center;
  color: #9CA3AF;
}

/* ========== RESPONSIVIDADE ========== */
/* Telas até 1024px */
@media (max-width: 1024px) {
  header {
    flex-wrap: wrap;
    margin: 0rem 2rem;
    padding: 1rem 2rem;
  }
  l {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
  .intro {
    flex-direction: column;
    text-align: center;
    margin: 2rem 3rem;
  }
  .recicla {
    width: 24rem;
    margin-top: 2rem;
  }
  .dados {
    flex-wrap: wrap;
    gap: 2rem;
  }
  .boxdoareseadq {
    flex-direction: column;
    align-items: center;
  }
  .doadores,
  .adquirentes {
    width: 80%;
    max-width: 500px;
  }
  .disponiveis {
    justify-content: center;
  }
}
/* Telas até 768px */
@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  header {
    padding: 1rem;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  ul {
    flex-direction: column;
    align-items: center;
  }
  ul .btnheader {
    width: 9rem;
    font-size: 14px;
    margin-top: 1rem;
  }
  ul .intro {
    margin: 1rem 1rem;
  }
  ul .recicla {
    width: 18rem;
  }
  ul .dados {
    flex-direction: column;
  }
  ul .doadores,
  ul .adquirentes {
    width: 90%;
    padding: 2rem;
  }
  ul .dispobox {
    width: 100%;
    max-width: 20rem;
  }
  ul .relatobox {
    width: 90%;
    margin: 1rem auto;
  }
  ul .comunidade {
    margin: 0.2rem;
    font-size: 1.2rem;
  }
  ul footer {
    text-align: center;
  }
  ul .rodape {
    font-size: 0.9rem;
    padding: 1rem;
  }
  /* Telas muito pequenas até 480px */
}
@media (max-width: 768px) and (max-width: 480px) {
  header {
    padding: 0.5rem;
  }
  h1 {
    font-size: 2.2rem;
  }
  .intro {
    margin: 1rem;
  }
  .recicla {
    width: 14rem;
  }
  .btnDoar,
  .btnAdq {
    width: 10rem;
    font-size: 14px;
  }
  .dados {
    margin: 2rem 0;
  }
  .doadores,
  .adquirentes {
    width: 95%;
  }
  .dispobox {
    max-width: 17rem;
  }
  .relatobox {
    max-width: 17rem;
  }
}/*# sourceMappingURL=style.css.map */